<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>{% block title %}My App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}Never Miss a Micro Moment{% endblock %}</h1>
    </header>
    <hr>
    <main>
        
     
    <!-- 🔥 Flash Messages HERE -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>

        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- 🔹 Page Content -->
    {% block content %}
    {% endblock %}
    </main>
    <hr>
    <footer>
        <p>© 2026 - All Rights Reserved, Except the Left Ones📩</p>
        <p>Made with ❤️ by Kanthi Leela</p>
        <p>Disclaimer: This is a demo project for learning purposes. </p>
        <p>Do not use it in production without proper security measures.</p>
        <p>End of Page. Time Complexity: O(1)😅</p>
    </footer>
</body>
</html>